[2019-07-05 11:58] ani006 opened #1 "Breadcrumb disappeared in deployed Demo App on Refresh"
On refresh breadcrumb gets disappeared!!

[2019-07-05 13:52] udayvunnam commented on #1
Can you please elaborate. Does it get disappered or not shown with dynamic updated values

[2019-07-05 17:28] ani006 commented on #1
First time it's load fine but but as soon as hit refresh it gets disappeared!! For every routes not only dynamic updated values

[2019-07-05 17:33] udayvunnam commented on #1
If you play around https://xng-breadcrumb.netlify.com, it shows breadcrumb even on page refresh. Can you provide a stackblitz to see the issue.

[2019-07-05 17:46] ani006 commented on #1
if i do refresh with this url https://xng-breadcrumb.netlify.com it is giving me error.
"Looks like you've followed a broken link or entered a URL that doesn't exist on this site."

[2019-07-05 17:53] udayvunnam commented on #1
Okay I got that! the problem is with netlify redirects (deployed env), but not the library behaviour itself. Thanks for reporting. I will fix the deployment.

[2019-07-05 17:54] udayvunnam commented on #1
@ani006 Irrespective of this, the library should work with your project even with refresh. Please let me know otherwise.

[2019-07-05 18:12] udayvunnam commented on #1
@ani006 I have fixed the issue in deployment https://xng-breadcrumb.netlify.com. You should see that working on page refresh as well. cheers!

Please close the issue if this works:)

[2019-07-06 06:12] ani006 commented on #1
One

One more thing i observed in my project that if i don't add breadcrumb for any particular router than also it showing the URL as breadcrumb. Can you tell why ?

[2019-07-06 06:37] udayvunnam commented on #1
As per the current design, breadcrumbs(same as route) will be shown even if there is no breadcrumbs defined
Please go through [README](https://github.com/udayvunnam/xng-breadcrumb/blob/master/README.md)
You have to explicitly define not to show breadcrumbs, by any of the below ways - `    {
      path: 'edit',
      component: MenteeEditComponent,
      data: { breadcrumbAlias: 'menteeEdit' }

[2019-07-06 06:48] udayvunnam opened #2 "Breadcrumbs are shown by default, even if there is no breadcrumbs specified for a path. Make this behaviour optional."
**Is your feature request related to a problem? Please describe.**
Breadcrumbs will be shown by default event if there is no breadcrumbs specified for a path. User have to explicitely define not to show breadcrumbs as per the comment - https://github.com/udayvunnam/xng-breadcrumb/issues/1#issuecomment-508901884

**Describe the solution you'd like**
Make this behaviour optional. Provide a boolean f

[2019-07-06 19:02] ani006 commented on #1
Brother it's still doesn't work on refresh what could be the problem in my project ??
Please help me out

[2019-07-07 01:57] udayvunnam commented on #1
Here is a minimal stackblitz example that works on refresh as well - https://stackblitz.com/edit/xng-breadcrumb.
Please create an example with your code or show me the code if it's open source

[2019-07-09 06:21] #1 closed

[2019-07-17 14:22] Hesesses opened #5 "How to customize the breadcrumb"
Hello,

thank you very much for this plugin.

I was wondering how you can customize the look of the breadcrumb, css? separator?

[2019-07-17 17:08] udayvunnam commented on #5
Hi @Hesesses, Thanks for opening this issue.

You can use custom separator as well as override styles.

**Custom separator:**
Breadcrumb by default uses '/' as the separator. To use custom separator pass it as input to the component like below.

[code]

**Styling breadcrumbs:**
The library uses the least specific selectors possible in order to make it easy to override them.
you can override by cha

[2019-07-17 17:08] #5 closed

[2019-07-17 17:10] udayvunnam commented on #2
Fixes - https://github.com/udayvunnam/xng-breadcrumb/issues/1#issuecomment-508900650

[2019-07-17 17:13] udayvunnam commented on #2
**Disabling default mapping of route to breadcrumb label: **
To avoid breadcrumb labels showing by default even for routes that don't have breadcrumb configuration set `defaultMapping=false`.

[code]

released with version 1.2.0

[2019-07-17 17:13] #2 closed

[2019-07-17 17:15] udayvunnam commented on #1
@ani006 You can now disable the default behavior of showing breadcrumbs

**Disabling default mapping of route to breadcrumb label:
To avoid breadcrumb labels showing by default even for routes that don't have breadcrumb configuration set defaultMapping=false.

<xng-breadcrumb separator=">"></xng-breadcrumb>
released with version 1.2.0

[2019-07-18 04:19] ani006 commented on #1
Alright brother !!
It's working fine now..
Thanks ....

[2019-07-18 08:30] Hesesses commented on #5
Thank you very much! 🙏

[2019-07-18 08:33] udayvunnam commented on #5
Do let me know if you feel a feature is missing or not evident. Happy to help!

[2019-07-18 08:44] Hesesses commented on #5
I will! I actually tried 3 or 4 different plugins and this seems to be absolutely the best one.

[2019-07-18 09:32] Hesesses opened #6 "Breadcrumb after dynamic param"
Hello, my routes looks like this:
[code]

How to setup the last route to have breadcrumb like:
`Users / Full Name / edit`

I have tried different things like the one above without success

[2019-07-20 14:59] udayvunnam commented on #6
@Hesesses

I have added the ability to add breadcrumbs for the base route, in the above example 'Users', with v2.0.0. Please update to the latest.

`:userId` and `:userId/edit` are siblings in your example, so only one of the route(breadcrumbs) would be considered at a time. Can you try declaring your routes like below, It should work!

[code]

I have tested your use case for `Users / FullName / e

[2019-07-20 15:00] #6 closed

[2019-07-20 15:09] udayvunnam commented on #6
Check the Demo App routing - https://github.com/udayvunnam/xng-breadcrumb/tree/master/projects/xng-breadcrumb-app/src/app

You can also play with the deployed demo app to check breadcrumbs - https://xng-breadcrumb.netlify.com/mentee/2/edit

[2019-07-22 06:14] udayvunnam commented on #6
@Hesesses let me know if you still face any issues

[2019-08-10 07:17] Hesesses commented on #6
works fine, thank you very much!

[2019-08-15 11:57] Hesesses opened #9 "multiple routing files"
Hello,

I have `layout-routing.module.ts` which has:
[code]
and then `users-routing.module.ts`
[code]

What I would like to have is to have my app name always first part of the breadcrumb, is this possible this way?

[2019-08-16 03:29] udayvunnam commented on #9
This should work. Do you see it not working @Hesesses?

[2019-08-16 06:25] Hesesses commented on #9
Yes, for me it shows `users / add new` for example instead of `app name / users / add new`

[2019-08-21 14:35] capesean opened #10 "xng-breadcrumb with different layout"
**Describe the bug**
Best described at : https://stackoverflow.com/questions/57593945/xng-breadcrumb-with-different-layout

**To Reproduce**
See: https://stackblitz.com/edit/xng-breadcrumb-65zaym?file=src%2Fapp%2Fapp.routing.module.ts

1. Load the app - notice the breadcrumb isn't displayed.
2. Click to the 'child' route. See it is displayed.
3. Click back to 'home'. See it is displayed.

2a. Clic

[2019-09-04 13:29] Hesesses commented on #9
Any updates on this? 🙏

[2019-09-04 16:05] udayvunnam commented on #9
@Hesesses I will look into it, this weekend.

[2019-09-08 15:26] udayvunnam commented on #9
Hi @Hesesses

Declaration with children and parent relationship - breadcrumb data can be decalred either on parent or on child with empty path. The latter takes precedence.

With component children
// declaring breadcrumb data on component parent
  {
    path: ':userId',
    data: { breadcrumb: 'My User declared on parent' },
    children: [
      { path: '', component: ShowUserComponent }
    ]

[2019-09-08 15:27] udayvunnam commented on #9
Hi @Hesesses please check - https://github.com/udayvunnam/xng-breadcrumb#usage

[2019-09-08 15:28] udayvunnam commented on #9
I have tested your use case and also added a demo and it seems to work. please check https://github.com/udayvunnam/xng-breadcrumb/blob/master/projects/demo/src/app/app-routing.module.ts

[2019-09-08 15:28] udayvunnam commented on #9
if you still face any issue please provide a https://stackblitz.com with example

[2019-09-08 17:16] #10 closed

[2019-09-08 17:21] udayvunnam commented on #10
@capesean Thanks for reporting this. When <xng-breadcrumb> is used inside a component other than root, I had to use the last parsed route config using BehaviorSubject. This is fixed, please test with the latest version of xng-breadcrumb @ 3.1.0.

I appreciate your stackblitz example to understand the bug

[2019-09-09 13:40] #9 closed

[2019-09-28 04:33] udayvunnam opened #12 ""export 'ɵɵinject' was not found in '@angular/core'. Error for Angular 6,7 projects"
**Describe the bug**
After following the install guide of XngBreadcrumb for an Angular 7 project getting error.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow install guide
2. Import BreadcrumbModule and place <xng-breadcrumb> component

**Expected behavior**
No error should be thrown.

**Screenshots**
<img width="1264" alt="Screenshot 2019-09-28 at 10 00 35 AM" src="https://user-ima

[2019-09-28 04:39] udayvunnam commented on #12
In Angular8 defineInjectable was renamed to ɵɵdefineInjectable and defineInjectable was deprecated. This makes pre-8 libraries compatible with v8, however v8 compiled libraries will not be compatible with pre-8 consumers.

So, We should compile with Angular 7 and release it as compatible version for Angular 6 and 7.
Angular 8 compiled library will be compatible with Angular 8 + projects

[2019-09-28 05:52] #12 closed

[2019-09-28 06:03] udayvunnam commented on #12
Fix verified - https://stackblitz.com/edit/angular-4roi7m

[2019-10-02 01:15] lenichols commented on #12
@udayvunnam when will this fix be available? I am using ng7 and i am getting this error. Not sure how to fix.

[2019-10-02 01:50] lenichols opened #13 "Add Icon"
How would i add an icon to the first li in the list?

[2019-10-02 13:15] udayvunnam commented on #12
Hi @lenichols the fix is already available. The issue is fixed. Please use **xng-breadcrumb@2.1.2** for **Angular 6.x and 7.x**

Compatibility versions: https://github.com/udayvunnam/xng-breadcrumb#compatiblity-table

The issue is because of a breaking change from @angular/core in version 8. If you ever upgrade your project to Angular 8+, use xng-breadcrumb@3.x instead

[2019-10-07 13:57] udayvunnam commented on #13
We don't have that ability right now. I will add this feature 👍

[2019-10-07 13:58] udayvunnam commented on #13
@lenichols Let me know what type of icon you would be planning to add

[2019-10-07 21:07] lenichols commented on #13
I ended up using CSS :before and "content" property with FontAwesome to add it but it would be nice to add that feat. @udayvunnam

[2019-10-09 17:14] lenichols opened #14 "Clicking on Breadcrumb doesn't route"
Clicking on breadcrumb which should go to /util/r/newreport doesn't seem to map or route there. Going to the route in the url works fine. What could this be?

[2019-10-09 22:20] lenichols commented on #14
Looking at how the navigation item is built - it looks like the router link may be incorrect. Have a look at this screenshot. @udayvunnam

<img src="https://i.imgur.com/EwHBEsy.png" >

[2019-10-11 16:36] JoseW3b opened #15 "Separator adds what's configured in attribute but also adds default separator"
Hi,
when I configure separator attribute with the '>' symbol it renders ok but also adds default separator '/'. At the end we have a breadcrumb seems like 'somelabel > / anotherlabel'

I've got installed latest 3.6.0 version.

Thanks in advance.

[2019-10-12 02:31] udayvunnam commented on #15
Hey @JoseW3b, how did you configure your separator?

The correct way is to provide it as an input.
`<xng-breadcrumb separator=">"></xng-breadcrumb>`

**If you are having the issue even then, please provide me an online example.**
As I have tested, please see below the custom separator working fine
<img width="1680" alt="Screenshot 2019-10-12 at 7 57 46 AM" src="https://user-images.githubuserconten

[2019-10-12 08:18] JoseW3b commented on #15
Hi @udayvunnam,
after make a simple example and test like it works fine, I've noticed that the problem is bootstrap 4 styles. It put a :before content attribute in his breadcrumb component.
[code]

If you haven't any comments, could you close the issue?

Thanks for your help.

[2019-10-12 16:36] #15 closed

[2019-10-22 00:42] duong-do opened #17 "Breadcrumb text is replaced with an unexpected value"
Hi there,

I am using version "xng-breadcrumb": "^2.1.1" for my Angular version 6 project and faced the following issue:

My route of the url has 5 level. It works fine with the route with 3 level. When an user clicks at level 4 and 5, the breadcrumb name is replaced with an unexpected value. I attached the screenshot to describe the issue below.

Hope to hear from you soon. Thanks in advance!

<i

[2019-10-22 01:32] udayvunnam commented on #17
@duong-do Can you provide sample route declaration you have for these deep routes.

[2019-10-24 16:06] udayvunnam commented on #17
@duong-do , can you be able to share the sample route declaration and breadcrumb setup you have tried ?

[2019-10-25 06:55] sagar1987 opened #18 "Page Refresh the Breadcrumb disappears"
@udayvunnam Hi I am facing issues when i refresh the browser page , the breadcrumb disappears any fix for this issue , Please let me know thanks

[2019-10-25 08:09] udayvunnam commented on #18
Hey @sagar1987, can you let me know which version of xng-breadcrumb you are using. If you are using old version suggest you to update to latest one. The issue was fixed long ago in https://github.com/udayvunnam/xng-breadcrumb/issues/1

[2019-10-25 08:27] sagar1987 commented on #18
@udayvunnam Hi Uday thanks for the reply , I am using version "xng-breadcrumb": "^2.1.0" , Please let me know how can i resolve this issue . Thanks in advance

[2019-10-25 19:20] john-- opened #19 "Multilingual"
Hi. First or all, nice work.

I don't see a way to support a multilingual site using this package. I mean, I could probably set an alias for every route and then set that on every page to the translated value, but it doesn't seem very elegant.

Is there a better way to approach this? Thanks.

[2019-10-26 03:34] udayvunnam commented on #18
Hey @sagar1987, can you please provide your sample route and breadcrumb configuration. As I see with xng-breadcrumb@2.1.2 and Angular 7, page refresh doesn't hide/disappear breadcrumb. If you need a reference for demo app please follow the steps

1. git clone https://github.com/udayvunnam/xng-breadcrumb.git && git checkout 2.x
2. npm i
3. ng serve

Now the demo app opens and showcases the library

[2019-10-26 04:00] udayvunnam commented on #19
Hey @john--  Thank you. I would like to add i18n support.
So, you want to specify breadcrumbs during route declaration (or even dynamically at some place), and be able to change the labels whenever you change language settings by some means.

There are couple of solutions like Angular default i18n, @ngx-translate , @ngneat/transloco. Which one are you using?

I will try to add this ability in bett

[2019-10-26 04:05] udayvunnam commented on #14
Hi @lenichols, let me know if you are still facing the issue. If so, can you please provide some more details on your route and breadcrumb configuration .

[2019-10-26 05:40] duong-do commented on #17
Thanks for your quick reply.
I am making a sample project and will share it soon.

[2019-10-26 14:12] sagar1987 commented on #18
---------------------------------------------------
This is my part of route

{
      path: "manage-subscriptions",
      children: [
        {
          path: '',
          component: CustomerSearchComponent,
          data:
          {
            breadcrumbAlias: 'managesubscription'
          }
        },
        {
          path: 'saved-carts/:cdbId/:countryCode/:name',
          component: C

[2019-10-27 01:12] duong-do commented on #17
Hi Uday,

I see how it works. At the 4th level I should define the value (name) of all previous level if needed.
Thanks

[2019-10-27 03:55] udayvunnam commented on #17
Hey @duong-do couple of thing I have observed in your code -

- When you want to set breadcrumb dynamically using breadcrumbService you have two options

1.  use complete path ```breadcrumbService.set('customer-list/customer-details/2', 'Aareon');```
2. name an alias for a path ```data: { breadcrumbAlias: 'customer' }``` and use setForAlias ```breadcrumbService.setForAlias('customer', 'Bananen')``

[2019-10-27 03:57] udayvunnam commented on #17
When you have deep routes option 2 makes it easier. Refer https://github.com/udayvunnam/xng-breadcrumb#usage

[2019-10-27 06:32] udayvunnam commented on #18
@sagar1987 I think I understood your problem. The breadcrumb which is set dynamically in component is lost and not shown when refreshed.

The problem is where you set the ```this.breadcrumbService.setForAlias('managesubscription', 'TEST123')```

- When you move from one route to another we store all the dynamically set labels and show them in Breadcrumb.
- But when you refresh, you have to make su

[2019-10-27 06:36] #14 closed

[2019-10-27 07:29] sagar1987 commented on #18
@udayvunnam Perfect answer , Yes i just injected the breadcrumbService into the constructor of AppComponent and the breadcrumbs value gets retained even on page refresh , So then the AppComponent always get loaded into the view when the page is reloaded/refreshed , Thanks a lot @udayvunnam for you valuable suggestions :)

[2019-10-27 07:29] #18 closed

[2019-10-27 07:56] udayvunnam commented on #1
Discussion resolved in https://github.com/udayvunnam/xng-breadcrumb/issues/18

[2019-10-28 13:04] john-- commented on #19
Hi, yes exactly :)
I personally use a custom extension of i18n. I wonder if you could even just have the option for the template to be overridable so someone could customize what gets rendered. For example instead of
{{ breadcrumb.label }}
They could override it with
{{ breadcrumb.label | translate }}
I think simply being able to send the label through a pipe could be pretty useful to people and o

[2019-10-28 17:08] udayvunnam commented on #19
Thats a good idea 💡 . If i could let the user wrap the breadcrumb label with a custom pipe of choice (translate, transloco or even initCap) it could be useful. Let me see how it works.

[2019-10-30 12:28] john-- commented on #19
Sounds like a plan! Thanks!

[2019-11-03 09:08] udayvunnam opened #20 "Make set and setForAlias as one method. Just use @ prefix for alias name"

[2019-11-03 09:09] #20 closed

[2019-11-03 09:11] udayvunnam opened #21 "Ability to add custom icon in front of label"
Feature request - https://github.com/udayvunnam/xng-breadcrumb/issues/13

[2019-11-03 09:11] udayvunnam opened #22 "Throw error with clear message when breadcrumbs aren't properly set. When setForAlias is called on a non Alias route item etc"

[2019-11-03 09:12] #21 closed

[2019-11-03 09:12] #22 closed

[2019-11-05 18:30] udayvunnam commented on #19
@john-- Good news. I have added this ability.

With latest xng-breadcrumb release, you can provide custom template for breadcrumb, where you can pipe or do whatever you want :)

With ngx-translate you can use like -
`<xng-breadcrumb>
  <ng-container *xngBreadcrumbItem="let breadcrumb">
    <ng-container>{{ breadcrumb | translate }}</ng-container>
  </ng-container>
</xng-breadcrumb>
`

Do check the

[2019-11-05 18:36] udayvunnam commented on #13
@lenichols -- Good news. I have added this ability to provide custom icons.

With latest xng-breadcrumb release, you can provide custom template for breadcrumb, where you can add icons and change text as you wish.

Refer - https://github.com/udayvunnam/xng-breadcrumb#customize-breadcrumb-template-add-icons-change-text-i18n

How to add icons ?
- define info associated with breadcrumb in route confi

[2019-11-05 20:38] john-- commented on #19
@udayvunnam

You are a wonderful person. Thanks so much!

[2019-11-06 05:17] udayvunnam commented on #19
Thank you! 😊 I will close the issue, since it's resolved

[2019-11-06 05:17] #19 closed

[2019-11-06 05:19] udayvunnam commented on #13
If you just want to add icon to first li, do as below
[code]

[2019-11-06 05:19] #13 closed

[2019-11-12 11:30] duong-do commented on #17
Dear Uday,

I am using your breadcrumb. It works wel as we expected. But when I view in the console I see the following warning.

My application is implemented on Angular 6x

[2019-11-12 13:28] udayvunnam commented on #17
Hi @duong-do your warning message not visible. please provide image or message.

[2019-11-12 15:33] duong-do commented on #17
Hi Uday,

We come up with another issue.

it works perfect until this step.
![breadscumb - develop page](https://user-images.githubusercontent.com/25991225/68684938-99e75100-0569-11ea-914c-29488da67b96.png)

If we click at "go to version". There is no problem. But if we "open link in new tab", then we get the following breadscrumb:

![breadscumb - version page](https://user-images.githubuserconten

[2019-11-12 16:30] udayvunnam commented on #17
Hi @duong-do, please refer to the issue https://github.com/udayvunnam/xng-breadcrumb/issues/18

The problem is where you set the `this.breadcrumbService.setForAlias('alias', 'breadcrumbLabel')`

When you move from one route to another we store all the dynamically set labels and show them in Breadcrumb.

- But when you refresh, you have to make sure the component where you have set the dynamic labe

[2019-11-12 16:35] udayvunnam commented on #17
Why warning messages are shown ?

BreadcrumbService's setForAlias(), skip(), skipForAlias() have been deprecated and removed in new release. set() method alone powers all of this features now.

Check usage https://github.com/udayvunnam/xng-breadcrumb#update-labels-dynamically and upgrade xng-breadcrumb to 4.0.0(For Angular 6)

[2019-11-14 14:42] #17 closed

[2019-11-20 14:11] Greathood opened #23 "path parameter undefined"
I'm having a small issue with the url behind the breadcrumbs

this is my route config:
[code]

The issue I'm having is that the way the breadcrumbs show up on my website is all fine, but when I click on software it tries to route me to:

Instead of for example

I'm probably missing something really obvious but, if anybody could help me I would appreciate it very much

[2019-11-20 14:25] Greathood commented on #23
Solved it for now by changing
[code]

to
[code]

Seems like you can't use the URL parameter before a path. I'll close the issue with that.

[2019-11-20 14:25] #23 closed

[2019-12-19 11:53] SangeetaJ opened #24 "breadcrumb disappears on multiple refreshes"
**Describe the bug**
When you refresh the page multiple times breadcrumb disappears.
I'm using     **"xng-breadcrumb": "^4.0.0",**

This is what I get in console when breadcrumb doesn't show up :
![image](https://user-images.githubusercontent.com/4082548/71171249-51673580-2283-11ea-94fe-2feb8d7ba6ba.png)

any idea what's wrong?

[2019-12-20 04:47] udayvunnam commented on #24
@SangeetaJ I think I understood your problem. The breadcrumb which is set dynamically in component is lost and not shown when refreshed.

The problem is where you set the ```this.breadcrumbService.set('/path', 'label')```

- When you move from one route to another, we store all the dynamically provided labels and show them in Breadcrumb.
- But when do a refresh, you have to make sure the component

[2019-12-20 12:50] SangeetaJ commented on #24
Hi @udayvunnam ,

That worked!

Thank you so much. Closing this issue.

[2019-12-20 12:50] #24 closed

[2019-12-31 12:32] Benny739 opened #25 "Defining breadcrump in child not working with empty route"
Hi,

setting breadcrumb in a lazy loaded child module with empty route is not working.

My parent Route:
        {
          path: 'courses',
          data: {
            breadcrumb: 'Deine Kurse'
          },
          loadChildren: () => import('./courses/courses.module').then(mod => mod.CoursesModule)
        },

Route in the child module:
  {
    path: '',
    pathMatch: 'full',
    component

[2020-01-03 16:17] udayvunnam commented on #25
Hi Benny,

It is by design, we have made this pattern. Breadcrumbs can be shown for routes that can be differentiated by the path.

In your example, you would want to choose breadcrumb for path "/courses" on either parent on children. If it's defined at many places for the same path then the deepest child takes priority.

Please check https://github.com/udayvunnam/xng-breadcrumb#where-to-define-br

[2020-01-03 16:18] udayvunnam commented on #25
@Benny739

[2020-01-19 22:27] patogalla commented on #25
It happens the same to me in the last version.
I had to add, twice "breadcrumb" key.
For instance:

{
    path: '',
    data: { breadcrumb: {breadcrumb: 'Organizations'} },
    component: ...
  },

[2020-01-20 09:34] yakupov112 opened #26 "The set method does not immediately change the breadcrumbs."
I get api data and try to dynamically change breadcrumbs. But the changes are applied only after the route or its parameters change
![1](https://user-images.githubusercontent.com/22240080/72715240-2bce9400-3b81-11ea-8af1-c030fbe837ab.gif)

[2020-01-20 09:37] yakupov112 commented on #26
angular - 6 version
xng-breadcrumb - 4.0.0

[2020-01-20 15:45] udayvunnam commented on #26
@yakupov112 this is strange. Can you provide code sample of in which component are you updating the breadcrumb dynamically. Also, are updating it via any lifecycle methods

[2020-01-20 16:02] udayvunnam commented on #25
Hi, @patogalla! Can you provide the Angular and xng-breadcrumb version you have faced this issue on?

Also, I see that you are defining it wrongly.

Use one of the below patterns -
- just label: https://github.com/udayvunnam/xng-breadcrumb#breadcrumb-as-a-string
- label, icon, additional info for advanced usage - https://github.com/udayvunnam/xng-breadcrumb#breadcrumb-as-an-object

[2020-01-20 18:01] ashokkumarjuly opened #27 "Breadcumb not refreshing when reload the page state internally using shouldReuseRoute as false"
At First thankyou for the wonderfull plugin,

**Describe the bug**
I have a company dropdown on the header component which is placed inside layout component,if any change in that dropdown, i have to reload the widgets and table data to fetch the company related datas,
So instead of hard reloading the page,  we using  the below code on dropdown change
	this.router.routeReuseStrategy.shouldReuseRout

[2020-01-21 06:20] yakupov112 commented on #26
Hi, @udayvunnam

OnInit method:

`  ngOnInit() {
    forkJoin([
      this.subscribeToRoute(),
      this.subscribeToUser(),
      this.getCategory()
    ])
      .subscribe();
  }`

getCategory method:

`  private getCategory() {
    return this.categoryService.getCategory().pipe(
      tap((data) => {
        this.breadcrumbService.set('families/:id', data.categoryName);
      }),
    );
  }`

I

[2020-01-22 19:31] patogalla commented on #25
Hi @udayvunnam , thanks for the response.
Here are the versions:
Angular:
xng-breadcrumb:

Regarding the way i defined in my project, is after debuging your code, found that if i put the breadcrumb object inside another breadcrumb object it worked.
I think it has to be with nested routes, and the way it handle it.
I have like a 3 or 4 level depth routing.

Any thing you need, just ask me, i'd be g

[2020-01-27 05:54] udayvunnam commented on #25
Hi @patogalla can you use the latest version where a couple of bugs are addressed.
https://github.com/udayvunnam/xng-breadcrumb#angular-version-compatibility

[2020-01-29 06:37] udayvunnam commented on #25
@patogalla is that working upgrading to the latest

[2020-02-13 13:28] Bozonych opened #28 "Navigate with query params"
When we use router with query param, bread crumbs module do not save these param.
Maybe, can you add this feature to module?

[2020-02-13 13:46] udayvunnam commented on #28
Sure! So, when you go back to the link by clicking breadcrumb, you would like to persist the query params?

I will add this feature.

[2020-02-13 13:47] #25 closed

[2020-02-13 14:04] Bozonych commented on #28
@udayvunnam that would be great. Waiting this. Thanks.

[2020-03-12 07:28] CNicolas opened #31 "Possibility to remove link from a breadcrumb"
**Is your feature request related to a problem? Please describe.**
If my breadcrumbs look like this : `Pages / ShadowGroup / Page1`, I want to remove the routerLink from the `ShadowGroup`. It can occurs when you  need to explain to the user where he is, but without giving a route that has no meaning

**Describe the solution you'd like**
At least an option like `data: { breadcrumb: {unlink: true, l

[2020-03-12 09:06] udayvunnam commented on #31
Hi @CNicolas, this would have been possible by, passing additional context to breadcrumb and stopping the click events for route patterns that don't need it.

- define 'info' associated with the breadcrumb in route config. 'info' has type <any>. you can pass string or object or boolean as you need.
- 'info' is available in the context of _\*xngBreadcrumbItem_.

[code]

[code]

[code]

Since the cu

[2020-04-23 20:59] KBeDevel opened #32 "Add case (capitalize, uppercase, lowercase) option to breadcrumb object"
I'm using `xng-breadcrumb@5.0.1` in a project with `angular-cli@9.1.3`. I'd like to be able to set a label with a full uppercase string using a breadcrumb object property

Actually, I get this using CSS in my component:

[code]
But this modify the whole project breacrumb trails to uppercase.

I'm thinking in an optional property named `case` assignable to the breadcrumb object:

[code]

[2020-04-23 21:04] KBeDevel commented on #32
**IMPORTANT NOTE**: `breadcrumbService.set()` is not working for this using the versions described above.

[2020-04-26 03:25] udayvunnam commented on #32
@KBeDevel you can transform the breadcrumb label as you wish. Please check https://github.com/udayvunnam/xng-breadcrumb#change-text-case.

Let me know if you further need any info

[2020-04-26 03:29] udayvunnam commented on #32
Additionally, you will also get the context of first and last items in breadcrumbs for customization. Check - https://github.com/udayvunnam/xng-breadcrumb/blob/730a3091a4f6758d165824e4fb895fdb44dda785/projects/xng-breadcrumb-app/src/app/app.component.html#L36

[2020-04-27 13:35] mahmoudparandeh commented on #28
is there any progress on this feature? i have some issues when navigating routes like this:
{
    path: 'category/:category/:id',
    data:{breadcrumb:'محصولات'},
    children:[
      {
        path: '',
        component: ProductsPageComponent,
        pathMatch: 'full'
      },
      {
        path: 'detail/:id/:name',
        component: ProductPageComponent
      },
    ]
  },
when i go to rout

[2020-04-27 17:04] KBeDevel commented on #32
@udayvunnam How can I use string pipes for an specific route param/child?

[2020-04-28 00:21] udayvunnam commented on #32
You can pass arbitrary context to a specific route using '**info** param' and that will be passed to **xngBreadcrumbItem**
[code]

[code]

Else, create your own pipe that acts according to the text passed and pass it the info.case text.
[code]

[2020-04-28 14:34] KBeDevel commented on #32
@udayvunnam Nice! It works. But with a little fix. Replace, `info.case.upper` with `info.case === 'upper'`

[code]

[code]

This worked for me. Thank you.

[2020-04-28 14:34] #32 closed

[2020-05-16 12:38] mahmoudparandeh commented on #28
any update?

[2020-05-20 12:29] scarfex commented on #26
Hello, i've been having this same issue, any progress on a solution?

[2020-05-29 19:37] dhallatmaine commented on #31
I also have a need for this functionality now.

[2020-06-01 09:07] elvir92 commented on #28
any update or idea how to fix this ?

[2020-06-03 02:19] udayvunnam commented on #31
In progress - @dhallatmaine. Will release in a week

[2020-06-03 02:19] udayvunnam commented on #28
In progress - @elvir92 @mahmoudparandeh. Will release in a week

[2020-06-03 02:19] udayvunnam commented on #26
In progress - @scarfex. Will release the fix in a week

[2020-06-14 07:50] #26 closed

[2020-06-14 07:50] #28 closed

[2020-06-14 07:50] #31 closed

[2020-06-14 10:01] udayvunnam commented on #31
@CNicolas @dhallatmaine This feature is available with xng-breadcrumb@5.1.0 onwards.

please check https://github.com/udayvunnam/xng-breadcrumb#dibsable-breadcrumb-navigation-for-certain-routes

[2020-06-14 10:03] udayvunnam commented on #28
@Bozonych @mahmoudparandeh @elvir92 - This feature is available with xng-breadcrumb@5.1.0 onwards.

QueryParams and Fragment will be auto preserved while navigating via breadcrumbs

[2020-06-14 10:06] udayvunnam commented on #26
@scarfex @yakupov112 - This is fixed on the latest version of **xng-breadcrumb**. Either upgrade to 4.1.0 or 5.1.0 depending on your Angular version. Thanks for reporting this.

Check the version compatibility - https://github.com/udayvunnam/xng-breadcrumb#angular-version-compatibility

[2020-06-14 11:28] mahmoudparandeh commented on #28
@udayvunnam it is good news i should update my app as soon as this update is available. thanks for you effort.

[2020-06-14 12:01] mahmoudparandeh commented on #28
i test 5.1.0 but still not working with my scenario. it is not queryParam like &id=1&name=something, it is like this /1/something
here is my routing:
const routes: Routes = [
  {path:':category/:id',data:{breadcrumb:'محصولات'}, children:[
    {path: 'detail/:pid/:name', pathMatch:'full', component: ProductPageComponent},
    {path:'',pathMatch: 'full',component:ProductsPageComponent},
  ]},
  {pat

[2020-06-14 13:34] udayvunnam commented on #28
@mahmoudparandeh I have considered preserving query params with this issue. Can you create a minimal reproducible example with the issue you are facing?

To help you start with, I have create a Stackblitz example - https://stackblitz.com/edit/angular-xng-breadcrumbs. Please update and share the issue sample

[2020-06-14 13:36] mahmoudparandeh commented on #28
sure i will notice you when i create small example.

[2020-06-24 22:34] shray7 opened #34 "Parameterized Routes not working"
**Describe the bug**
Whenever using breadcrumbs, and you have a parametrized route, breadcrumb doesnt _save_ the parameters so you can navigate back

**To Reproduce**
Steps to reproduce the behavior:
https://stackblitz.com/edit/angular-9-starter-material-hhqmpb

1.Navigate to stackblitz.
2. Click on 'Catalog' link (first bread crumb will appear)
3. Click on any movies link (2nd bread crumb will ap

[2020-06-25 16:09] shray7 commented on #28
Hey I've opened another issue with the sample reproducing the bug here: https://github.com/udayvunnam/xng-breadcrumb/issues/34

[2020-06-25 18:20] mahmoudparandeh commented on #34
@shray7  that is exactly what i told on previous issue. thanks for reproduce.

[2020-07-06 19:06] shray7 commented on #34
I've decided to abandon this package, and instead go for [this package](https://www.npmjs.com/package/ng7-mat-breadcrumb) instead. I was able accomplish what I wanted

[2020-07-07 11:03] pawan-atl opened #35 "On initial SPA page load, the breadcumb bar is empty.. it refreshes and starts working after I navigate to other url within the site.. Any help/pointer would be much appreciated. Thx."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-07-07 11:48] pawan-atl commented on #35
I got it fixed by injecting the breadcrumbService into the constructor of AppComponent. This ensured that the the breadcrumbs bar retains the state on initial page load AND every page refresh.

[2020-07-07 11:48] #35 closed

[2020-07-08 15:52] mrum-cuscal opened #36 "QueryParams being assigned to incorrect routes"
**Describe the bug**
I have some routes which have query params. e.g.
route1: statements (no query params)
route2: statement/:statementId?key=value
route3: statement/:statementId/:otherroute?key=value&key2=value2

When I navigate to route3 I am finding that my route1 and route2 are getting assinged the query params from route3

I think the issue is in the resolveQueryParam method. It seems to be a

[2020-07-08 16:04] udayvunnam commented on #36
@mrum-cuscal Thanks for reporting this bug. A PR fix is always welcome. If not, I will try fixing this weekend.

[2020-07-08 16:07] jeejeeu commented on #36
Thanks, logged in with a work account previously. I have isolated the issue to the resolveQueryParam method but cannot quite understand how to fix it correctly. Any help would be greatly appreciated.

[2020-07-12 09:04] udayvunnam commented on #34
@shray7 sorry to see you go. I will try what can be done for this issue. Thanks!

[2020-07-20 08:55] udayvunnam commented on #34
@shray7 @mahmoudparandeh This issue has been fixed with latest release xng-breadcrumb@6.0.0

[2020-07-20 08:55] udayvunnam commented on #36
@mrum-cuscal @jeejeeu This issue has been fixed with latest release xng-breadcrumb@6.0.0

[2020-07-20 08:55] #36 closed

[2020-07-20 08:55] #34 closed

[2020-07-20 15:51] mahmoudparandeh commented on #34
@udayvunnam well-done. i will update my apps based on new update. thanks

[2020-07-21 07:04] jeejeeu commented on #36
Thanks for the fix.

[2020-08-05 11:51] vishnu-dev commented on #18
To persist breadcrumb on refresh, Add below code to your parent component, mostly `app.component.ts`. In the docs it is mentioned as optional, but it seems without that the breadcrumb is not persisted on refresh.

[code]

[2020-08-09 20:22] Benny739 opened #38 "DIsable Fragment preservation"
Hi,

is it possible to disable the preservation of the fragment?

Regards
Benny

[2020-08-10 00:59] udayvunnam commented on #38
@Benny739 Yes! I will add this ability with the next minor release in a few days.

May I know your use case of where you want to avoid fragment? With the browser back button the history API preserves fragment, the same is considered for the breadcrumbs navigation.

[2020-08-10 11:50] Benny739 commented on #38
@udayvunnam Thx :)
The fragment makes our page scroll to an element. At least for me, when I click on a breadcrumb I expect to see the top of the page. When you go back it is standard, that the browser remembers where u where. But with a breadcrumb, I would like to stay at the top of the page.
The navigation path is pretty complex in our app, so clicking on the same element in the breadcrumb leads

[2020-08-13 18:49] DannyFeliz opened #39 "The demo page is down"
Just letting you know that the demo page is not working.
![image](https://user-images.githubusercontent.com/5460365/90174450-fd5e1380-dd73-11ea-902c-fe12d8f6918c.png)

[2020-08-14 01:53] udayvunnam commented on #39
Thanks for reporting @DannyFeliz. This is to do with netlify changing from .com to .app. I will update the references.

For now please use https://xng-breadcrumb.netlify.app/dashboard

[2020-08-14 01:56] DannyFeliz commented on #39
@udayvunnam still down ![Screenshot_20200813-215622.jpg](https://user-images.githubusercontent.com/5460365/90203878-e0473600-ddaf-11ea-9729-4638d2a4784a.jpg)

[2020-08-14 04:14] udayvunnam commented on #39
Ahh I see. It's working with client side navigation. I will correct the netlify reroutes. Use https://xng-breadcrumb.netlify.app and then client side navigation

[2020-08-17 21:34] DannyFeliz commented on #39
I guess this is done.

BTW, I love this package, I was doing my own breadcrumb but it comes with its own difficulties and with this, I was able to solve all my problems.

[2020-08-17 21:34] #39 closed

[2020-08-27 07:52] udayvunnam commented on #27
@ashokkumarjuly This has been lost in a while, are you still seeing the issue?

[2020-08-28 04:49] #38 closed

[2020-08-28 05:42] udayvunnam commented on #38
@Benny739 https://github.com/udayvunnam/xng-breadcrumb/releases/tag/v6.1.0 provides this feature. upgrade xng-breadcrumb version to 6.1.0

[2020-08-28 15:22] chad-smith opened #43 "Using params within breadcrumb label"
I'm part way through integrating this library into a mature app and am really impressed with how flexible and powerful it is. Great work!

One quirk of our existing routing is that from a list page `/items`, an individual item would be located at `/items/view/X452`.

The path for this route is expressed as:
[code]

And the auto generated breadcrumb trail is

I can resolve this on per page basis by

[2020-08-28 16:27] udayvunnam commented on #43
@chad-smith Thank you 😊. This is interesting and is definitely useful to have instead of using `BreadcrumbService.set()`

How to do you plan to extract `:id` in `data: { breadcrumb: `Viewing order :id` }`. We don't have the context of params while defining applications Route config.

Are you thinking of sting manipulation by matching the params or Do we have any implicit solution from Angular Rout

[2020-08-28 16:46] chad-smith commented on #43
I was hoping to have access to the `ActivatedRoute` whilst rendering the breadcrumbs

I've been giving it some thought since posting the issue. My original hope was for this to be generic functionality that worked for all breadcrumb nodes, but I believe you might be able to have nested route params with the same id, e.g. `/groups/:id/items:id` - this would require disambiguation in the placeholder

[2020-08-28 17:25] udayvunnam commented on #43
I was thinking about the same issue of ambiguous params if the param names are same. It will great,
if we provide an implementation that is generic.

Did you check the usage of *xngBreadcrumb directive - https://github.com/udayvunnam/xng-breadcrumb/blob/089acd97d4e48298a3cd1f5d4bf26a3faac2fc17/apps/breadcrumb-demo/src/app/app.component.html#L68

I think you can implement the pattern as you suggest

[2020-08-28 17:33] udayvunnam commented on #43
Though this is entirely possible. One way is to make breadcrumb as callback that receives resolved route param that returns a string including the id.

[code]
See if we can achieve it this way, that becomes generic.

[2020-09-02 23:45] udayvunnam commented on #43
@chad-smith I am close to having an implementation similar to
[code]

This will be released in next minor version

[2020-09-04 12:34] chad-smith opened #44 "Child breadcrumb with empty path is ignored and replaces parent"
I have found some odd behaviour when defining empty paths, it's quite fiddly to explain in text, so I have altered the demo site to reproduce my findings.

If you apply the changes in https://github.com/chad-smith/xng-breadcrumb/compare/master...demo-data-bug you will find that neither of the breadcrumbs being set are used.

After a bit of poking around, I found the following:
1. Removing the root

[2020-09-04 12:41] chad-smith commented on #44
To make this a little more visual, with the code changes referenced, I see this:

![image](https://user-images.githubusercontent.com/1563668/92239830-88ce4e80-eeb3-11ea-916b-45aa07fc40ea.png)

And I am expecting to see this:

![image](https://user-images.githubusercontent.com/1563668/92240185-1ca01a80-eeb4-11ea-8e32-898706cb11af.png)

Whilst prepping those screenshots, I noticed that whilst I coul

[2020-09-04 12:54] chad-smith commented on #44
Also, sorry for keep finding problems 😄

If it's any consolation, I'm invested in flushing them all out because it's a library I intend to use in multiple projects and recommend to others 👍

[2020-09-07 11:15] brian-teamcoda commented on #27
I've also ran into issues using the Angular's routing function routeReuseStrategy (similar to the example). Breadcrumbs only update on page refresh, but not on navigation anymore. Using version 6.1.0.

Problems stops occurring when I comment out
[code]

I need the code to update pages correctly within my project.

[2020-09-07 13:00] velu-dev opened #46 "Node module error occurring"
I have using angular version 8+. and installed xng-breadcrumb version 6+. But I got an error like this. how to I solve it?

`ERROR in node_modules/xng-breadcrumb/lib/breadcrumb.component.d.ts:48:9 - error TS1086: An accessor cannot be declared in an ambient context.

     set separator(value: string | TemplateRef<void>);
[code]
`

[2020-09-07 13:42] udayvunnam commented on #46
@velu-dev can you provide a minimal reproducible example with https://stackblitz.com/

[2020-09-07 13:43] udayvunnam commented on #28
This issue has been fixed with latest release xng-breadcrumb@6.0.0

[2020-09-07 14:53] #44 closed

[2020-09-07 16:04] udayvunnam commented on #44
@chad-smith I really appreciate you for finding and reporting these subtle bugs - I have fixed this and also [covered it in a test so that it won't break again](https://github.com/udayvunnam/xng-breadcrumb/blob/f6c9214af953c765f4beb3a5bfe47546f028a956/apps/breadcrumb-demo-e2e/src/integration/default.spec.ts#L58). Fix available with version 6.2.0 🎉

https://github.com/udayvunnam/xng-breadcrumb/rele

[2020-09-07 16:05] udayvunnam commented on #43
@chad-smith Thanks for the suggestion and making this library solid. [This feature is available with version 6.2.0](https://github.com/udayvunnam/xng-breadcrumb/releases/tag/v6.2.0) 🎉

https://github.com/udayvunnam/xng-breadcrumb#breadcrumb-as-a-function

[2020-09-07 16:06] #43 closed

[2020-09-07 16:06] udayvunnam commented on #27
@brian-teamcoda I will take a look and provide possible solution

[2020-09-08 13:21] chad-smith commented on #43
Hi Uday,

I've just updated the library and giving it a test. The first thing that I've come across is that the existing instances of `breadcrumb.set()` have stopped working. Debugging into it and seeing what is expected, I have changed the alias node in my routes to include the `@` prefix and this seems to work. (`breadcrumb: { alias: '@id' } }`).

I am assuming this is a bug, if confirmed, rathe

[2020-09-08 14:32] udayvunnam opened #47 "alias is not not working"
The existing instances of `breadcrumb.set()` have stopped working. Debugging into it and seeing what is expected, I have changed the alias node in my routes to include the `@` prefix and this seems to work. (`breadcrumb: { alias: '@id' } }`).

I am assuming this is a bug, if confirmed, rather than being intentional?

_Originally posted by @chad-smith in https://github.com/udayvunnam/xng-breadcrumb

[2020-09-08 14:37] udayvunnam commented on #43
Yes this is a bug. We don't need user to specify ~`{breadcrumb: { alias: '@id' } }`~
we just need `{breadcrumb: { alias: 'id' } }` with `breadcrumbService.set('@id', 'MapingLabel')`.

This bug slipped since I changed the tests verifying alias to test breadcrumb as a function. Going to add a fix and additional test for this.

Thanks!

[2020-09-08 14:45] #47 closed

[2020-09-25 13:51] roshanjayawardena opened #49 "When click the Home link of breadcrumb routing is not working"
This is my code app-routing.module.ts

 path: '',
    component: LayoutComponent,
    canActivate: [AuthGuardService],
    **data: { breadcrumb: 'Home' },**
    children: [
      // dashboard routes
      {
        path: 'designer',
        loadChildren: () =>
          import('./Modules/features/designer/designer.module').then(
            (m) => m.DesignerModule
          ),
          data: { br

[2020-09-26 03:43] roshanjayawardena commented on #49
can't we retrieve the rourting values of breadcrumb object?
Can't we update the breadcrumb route?

[2020-09-28 08:36] ShamalFdo129 commented on #49
I also want to change breadcrumb routing dynamically, in my situation, I route back to different component based on user's role.
that logic is in home component. (not in app-routing.module.ts) @udayvunnam  could you please let me know is there any workaround for modifying/assigning routes in runtime.
Thank you
/Shamal.

[2020-09-29 07:32] udayvunnam commented on #49
@roshanjayawardena @ShamalFdo129 Can you be able to provide a http://stackblitz.com/ minimal example with your use case for updating the breadcrumb route dynamically.

[2020-09-30 04:16] roshanjayawardena commented on #49
Hi Uday, @udayvunnam ,

Please refer the below link
https://stackblitz.com/github/roshanjayawardena/mybreadcrumb

![image](https://user-images.githubusercontent.com/19530756/94642100-db5b2900-0300-11eb-8cd0-d86fd197bd01.png)

Please refer above screenshot. Basically, we navigate a router link based on the user's role. So we want to change home breadcrumb routing dynamically. Please have a look and

[2020-10-01 13:58] abhijithka opened #50 "Cannot disable breadcrumb on LoginComponent"
Ideally, with the below router configuration, i would expect the breadcrumb to be gone on the login component. But the 'Home' breadcrumb is still displayed in that screen. I think this is a bug.

[code]
Even with 'skip = true' in LoginComponent the breadcrumb 'Home' is still displayed

[2020-10-05 05:42] roshanjayawardena commented on #49
Hi Uday,
@udayvunnam

Please could you please give us a update

Thank you.

[2020-10-06 01:55] udayvunnam commented on #49
@roshanjayawardena thanks for the reproducible example. I will rollout a fix likely this week

[2020-10-12 15:36] ShamalFdo129 commented on #49
@udayvunnam
Hi Uday,
Thank you for spending time on our request. Appreciate if you could suggest a workaround for us if a fix takes some time to rollout.

Thanks and Regards,
/Shamal

[2020-10-13 07:15] abhijithka commented on #50
Are any developers of this library active? We are blocked by the above question for 12 days now and your comments in this will be a great help for us

[2020-10-13 16:31] udayvunnam commented on #49
Let me know if you need any other context as part of this.

[2020-10-13 16:54] udayvunnam commented on #50
@abhijithka the current approach considers all routes within base path i.e ''.

For your use case, I would suggest keeping `<xng-breadcrumb>` within `HomeComponent` instead of `app.component.html`. Then it should be visible only within the scope of `HomeComponent` and skipped for `LoginComponent`

[2020-10-14 02:17] #49 closed

[2020-10-14 02:26] udayvunnam commented on #49
@roshanjayawardena @ShamalFdo129 upgrade to the latest version i.e 6.3.0 to get this functionality - https://github.com/udayvunnam/xng-breadcrumb/releases/tag/v6.3.0

Usage: https://github.com/udayvunnam/xng-breadcrumb#intercept-the-routing-via-breadcrumb-navigation---routeinterceptor

[2020-10-14 09:38] abhijithka commented on #50
But our app structure is like

<header/>
<xng-breadcrumb/>
<router-outlet/>
<footer/>

And login component and home component all are loaded in place of router-outlet. If we place the breadcrumb is placed in HomeComponent won't it be available only in the child of HomeComponent ? We want it to be displayed for other components as well except LoginComponent without duplicating the code

[2020-10-15 12:33] roshanjayawardena commented on #49
Thanks for your time. I updated the latest package and applied the above solution.
But it didn't work as I expected.
I have updated the stackblitz example of how I applied the solution. Please can you guide us?
Further, can you explain the following method?

this.breadcrumbService.set('Home', {
          routeInterceptor: (routeLink, breadcrumb) =>
            isDesigner ? 'designer' : routeLink,

[2020-10-16 03:49] udayvunnam commented on #50
@abhijithka `breadcrumb: { skip: true}` hides the specific breadcrumb item but not the complete breadcrumb component.

Can you try ngIf on <xng-breadcrumb> and showing it on/off based on used loggedIn status

[2020-10-16 06:06] udayvunnam commented on #49
@roshanjayawardena Thanks for raising this bug. There was a difference in how the breadcrumb is handled for root and is fixed now.

One fix you have to do from the application code is to pass the correct path or Alias to `BreadcrumbService.set()`. For home, you can consider path as `'' OR '/'`. both works.

The below code should work for you with xng-breadcrumb@6.3.1

[code]

[2020-10-18 12:20] udayvunnam commented on #46
closing this as there is no update here!

[2020-10-18 12:21] udayvunnam commented on #46
closing this as there is no update here!

[2020-10-18 12:21] #46 closed

[2020-10-22 13:19] jj-whitehead commented on #27
Getting the same issue in our solution. Any updates on this @udayvunnam ?

[2020-10-23 03:16] ShamalFdo129 commented on #49
@udayvunnam
Hi Uday,
Thank you very much for your help and this perfectly matched with our requirement. I believe this feature helps whole community when changing breadcrumb route dynamically.

Thanks and Regards,
/Shamal

[2020-10-23 03:47] roshanjayawardena commented on #49
@udayvunnam
Hi Uday,

Thank you very much for your support and for spending your time on this. This feature helped me to achieve my task.I also believe this feature helps the whole community.

Thanks
Roshan

[2020-10-29 15:36] udayvunnam commented on #27
I am on vacation currently. Will try to fix this ASAP. Thanks for reporting the issue.

[2020-11-13 19:10] tiagotrigger opened #54 "Empty breadcrumb at start"
This is started to happen in the latest version.
Version 6.2.1 is working.

![image](https://user-images.githubusercontent.com/3385597/99111435-e1fce180-25ca-11eb-8125-6edbcef204be.png)

https://i.imgur.com/hwZ62th.png

That first item should not be there.

[2020-11-13 23:53] paulmhan commented on #54
![Screen Shot 2020-11-13 at 3 52 44 PM](https://user-images.githubusercontent.com/58451541/99131538-48343500-25c8-11eb-99cd-67eb42e9c5d5.png)

I am having a similar issue where a separator is showing before my first link, is there any way I can get rid of this?

[2020-11-14 00:22] paulmhan opened #55 "Separator showing before first item"
![Screen Shot 2020-11-13 at 4 20 10 PM](https://user-images.githubusercontent.com/58451541/99132712-1d4be000-25cc-11eb-8a80-e06ae8ca046f.png)

I am trying to get rid of the first separator but I am now convinced this is a bug.

![Screen Shot 2020-11-13 at 4 21 18 PM](https://user-images.githubusercontent.com/58451541/99132749-453b4380-25cc-11eb-9f68-5ba66cc8305e.png)

I changed the background colo

[2020-11-16 14:38] #54 closed

[2020-11-16 14:38] #27 closed

[2020-11-16 14:38] #55 closed

[2020-11-16 14:49] udayvunnam commented on #55
@paulmhan This is fixed in the latest version 6.3.3. Thanks for reporting the issue.

[2020-11-16 14:50] udayvunnam commented on #27
@ashokkumarjuly  @jj-whitehead @brian-teamcoda This is fixed in the latest version 6.3.3. Thanks for reporting the issue.

[2020-11-16 14:50] udayvunnam commented on #54
@tiagotrigger This is fixed in the latest version 6.3.3. Thanks for reporting the issue.

[2020-11-16 17:00] paulmhan commented on #55
Thank you so much!

[2020-11-16 17:06] paulmhan commented on #55
So I just updated the package and the separator is still showing

[2020-11-16 17:17] paulmhan commented on #55
Is there also a way to get rid of the way the active link is elevated?

[2020-11-16 18:30] tiagotrigger commented on #54
Hmm, that is weird, I've updated to 6.3.3 but still happens.

[2020-11-16 20:23] paulmhan opened #57 "How to get rid of elevated active link"
The active link in the breadcrumbs is always elevated. Is this a bug? I cannot find it in the documentation and the live demo has all breadcrumbs in the same level. Please let me know how to resolve.

![Screen Shot 2020-11-16 at 12 22 44 PM](https://user-images.githubusercontent.com/58451541/99303964-9767a900-2806-11eb-9339-af0c48c7c241.png)

[2020-11-17 01:17] udayvunnam commented on #57
@paulmhan One reason could be that, you may have app-level <li> styles that are interfering with breadcrumb styles. If that's not the case provide a minimal reproducible example with https://stackblitz.com/edit/angular-xng-breadcrumbs

[2020-11-17 02:43] udayvunnam commented on #55
@paulmhan This has been overlooked for another fix. The issue is fixed with **version 6.3.4** and also a test case is added to validate this.

[2020-11-17 02:43] udayvunnam commented on #54
@tiagotrigger This has been overlooked for another fix. The issue is fixed with **version 6.3.4** and also a test case is added to validate this.

[2020-11-17 11:12] tiagotrigger commented on #54
Awesome, it is working now. Thank you very much.

[2020-11-17 17:07] paulmhan commented on #57
Sounds good, thank you!

[2020-11-17 17:07] #57 closed

[2020-11-18 21:17] PHPadawan opened #59 "Change breadcrumbs manually"
Hello,

is there a way to change/manipulate the breadcrumbs?
My router file looks like this:

path: 'servers', component: ServerListComponent, data: { breadcrumb: 'Servers' }},  -> **App / Servers**
path: 'server/:id', component: ServerDetailComponent, data: { breadcrumb: { alias: 'serverName' }}}, -> **App / Webserver 1**

Since servers doesn't have a router-outlet for server/:id it cant be a chi

[2020-11-19 08:56] vitaliy-patsay commented on #59
Hi, intereseted in the same use case

[2020-11-20 14:02] udayvunnam commented on #59
@PHPadawan @vitaliy-patsay

- Inserting breadcrumbs manually between autogenerated breadcrumbs can be implemented, and that can be picked as a major enhancement
- However, I have a solution for you! Can you try with the route configuration as below. This should work
[code]

[2020-11-23 07:24] udayvunnam commented on #59
@PHPadawan please close the issue if above solution is feasible to you

[2020-11-23 16:50] PHPadawan commented on #59
I have not thought of this simple solution. Thank you!

[2020-11-23 16:50] #59 closed

[2020-11-26 08:28] dedrazer opened #60 "Show only the last few breadcrumbs."
## 🧩 Feature request

To be able to show only the last 4 breadcrumbs. Any preceding breadcrumbs will be displayed as ".." to prevent clutter.

### Description

In order to be able to do this, it would be useful to know the `index` and `length` of the `xngBreadcrumbItem` array in HTML.

`<xng-breadcrumb>`
        `<ng-container *xngBreadcrumbItem="let breadcrumb; let first = first; let last = last;

[2020-11-26 08:38] udayvunnam commented on #60
@dedrazer
Along with exposing length to xngBreadcrumbItem, it will good if it's a feature from library.

I will work on this. A PR is welcome with the changes too

[2020-11-26 09:11] dedrazer commented on #60
I am working on it and will upload a PR soon, thanks.

[2020-11-26 11:03] dedrazer commented on #60
the PR is ready

[2020-11-26 15:32] #60 closed

[2020-11-26 15:37] udayvunnam commented on #60
@DannyFeliz - This change is released with xng-breadcrumb@6.4.0 🎉. Thanks for the PR 👍

In the future, I will make this mainstream feature with xngBreadcrumb, so you don't have to manually tweak with xngBreadcrumbItem

[2020-11-26 15:43] dedrazer commented on #60
thank you Uday 😄

[2020-11-26 16:04] DannyFeliz commented on #60
@udayvunnam I think you meant to tag @dedrazer instead of me 😄

[2020-12-01 14:32] dedrazer commented on #18
I had the same issue and solved it using @vishnu-dev's solution

[2020-12-09 02:56] #50 closed

[2020-12-09 11:00] dedrazer opened #65 "The breadcrumb cannot be used on ES5"
## 🐞 Bug report

Using the latest version of this package requires changing the project target version to ES2015.

### Description

Is it possible to change the project target to ES5?

#### 🔬 Minimal Reproduction

yarn the breadcrumb on an ES5 solution.

#### 💻Your Environment

**Angular Version:**

9

**Scully Version:**

N/A

## 🔥 Exception or Error

"ERROR in getInternalNameOfClass() called on

[2020-12-09 12:13] udayvunnam commented on #65
@dedrazer does this work with previous version of xng-breadcrum. Please provide last version where you get it to work with ES5

[2020-12-09 12:35] dedrazer commented on #65
I tried had tried version 4 and it worked without hassle, but I did not test version 5.

[2020-12-09 14:14] pinkkis opened #66 "Accessibility - breadcrumb <a> tags cannot be navigated with keyboard"
## 🐞 Bug report

### Description
Breadcrumbs use a (click) handler for navigation, and do not have a [href] attribute. Pressing tab key to navigate will skip these links. They should either have a href attribute, or then add a tabindex=0 (or customizable).

Edit: Also, if you add tabindex programatically to the `<a>` tags, you cannot activate the link with a keyboard, as it only has a `(click)` ha

[2020-12-09 14:33] dedrazer commented on #66
I think this also prevents the cursor from turning into a pointer when it is hovered over a breadcrumb

[2020-12-09 15:00] dedrazer commented on #65
it seems version 5 is also good

[2020-12-09 15:52] pinkkis commented on #66
Updated to add the edit about not being able to activate links with keyboard

[2020-12-09 17:05] udayvunnam commented on #66
A recent move from `routerLink` to `(click)` caused this issue. routerLink handles a11y implicitly. We had to use (click) to provide support for `breadcrumb.routeInterceptor`.

Thanks for reporting this issue on a11y. A fix will be rolled out shortly!

[2020-12-09 17:14] dedrazer commented on #65
6.2 works also. The issue started with 6.3

[2020-12-09 17:18] udayvunnam commented on #65
With 6.3 we upgraded @angular/cli to version 11. I wonder when there is no breaking change from Angular why this happens.

For a long time, we have been using "target": "es2015". I wonder what's causing an issue now

[2020-12-09 17:19] #66 closed

[2020-12-09 17:24] udayvunnam commented on #66
@pinkkis @dedrazer This issue is fixed and released with version 6.5.0 🎉. Thanks for raising the issue.

[2020-12-09 19:25] pinkkis commented on #66
Thanks a lot!

[2020-12-10 06:27] dedrazer commented on #65
The error message points toward BreadcrumbItemDirective, that's all I know.

[2020-12-29 07:12] dedrazer commented on #65
do you reckon this will get fixed? we would like to keep using the latest version of xng on our application

[2020-12-31 04:07] udayvunnam commented on #65
@dedrazer Thanks for showing effort in keeping the library up-to-date. Have you tried this solution https://stackoverflow.com/a/63727427

[2020-12-31 08:09] dedrazer commented on #65
@udayvunnam, yes I have. It works locally but on the CI Pipeline the error is still thrown.

[2021-01-06 09:28] dedrazer commented on #65
I wouldn't like to be bothersome, it would be really nice to have a solution for this on ES5. In 6.2 I cannot get the @alias working for some reason and I cannot access the changes I made in 6.4.0.

[2021-01-06 17:01] udayvunnam commented on #65
@dedrazer This might be a minor TS target version change. I will check this soon.

[2021-01-07 07:52] dedrazer commented on #65
thanks @udayvunnam, I appreciate it!

[2021-01-11 12:49] AkmaralB commented on #27
Hello, @udayvunnam ! Thanks for the plugin. However, I am getting the same issue with Angular v11.0.3, xng-breadcrumb v6.5.0. Could you have a look?

[2021-01-11 13:49] udayvunnam commented on #27
@AkmaralB the last time I checked it was working. Can you please provide a reproducible example

[2021-01-12 04:47] AkmaralB commented on #27
[angular-tour-of-heroes.zip](https://github.com/udayvunnam/xng-breadcrumb/files/5799777/angular-tour-of-heroes.zip)

In project in file cashbox-registration.component.ts we using shouldReuseRoute function. If open this page(/cabinet/cashboxes/new) and then navigate to other pages xng-breadcrumbs doesn't display active links and only display link of problem page. But without shouldReuseRoute functi

[2021-01-31 15:44] udayvunnam commented on #65
@dedrazer compiling the library with typescript target of es5 increases library size significantly (almost double).

Can you please try moving your project version to es2015 to make this work, else please consider upgrading the package whenever you update the version.

**Update tsconfig.json**

[code]

[2021-02-24 10:49] gilsdav opened #74 "Breadcrumb not refreshed when calling `breadcrumbService.set()`"
## 🐞 Bug report

### Description

I can see your breadcrumb is not observable from the store to the html.

https://github.com/udayvunnam/xng-breadcrumb/blob/f63924f7f844fc6d512c4ca4ff10e75b0eab4dc0/libs/xng-breadcrumb/src/lib/breadcrumb.component.ts#L92

This is not compatible with full of partial "onPush" angular apps.

`this.breadcrumbs` needs to be an observable (no subscribe in ngOnInit) and u

[2021-02-25 03:09] #74 closed

[2021-02-25 03:38] udayvunnam commented on #74
Thanks for raising the issue @gilsdav!

🎉 The fix is included in version 6.6.1 🎉

The release is available on - https://www.npmjs.com/package/xng-breadcrumb/v/6.6.1

[2021-03-02 17:12] udayvunnam commented on #65
Not stale

[2021-03-12 19:00] chmorgan opened #77 "Styling in .scss isn't taking effect for .xng-breadcrumb-trail color"
## 🐞 Bug report
Trying to use:

::ng-deep .xng-breadcrumb-trail {
    color: white;
    background-color: red;
}

in my app.component.scss file

to change the trail text to be white.

### Description

Background color goes red but text color is stuck black.

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**
11.2.2

<pre><code>

ng --version

     _                      _

[2021-03-12 19:07] chmorgan commented on #77
It also seems to not take effect with ::ng-deep .xng-breadcrumb-root or item when I'm at the top level page.

[2021-03-13 18:12] DirkStorck opened #78 "Can not add xng-breadcrumb to my project"
## 🐞 Bug report

### Description
After I have used the command
"npm i xng-breadcrumb"
I get the an error on BreadcrumbModule

#### 🔬 Minimal Reproduction

#### 💻Your Environment

**Angular Version:**

<pre><code>
PS I:\workspaces-angular-ts\angular-tour-of-heroes\angular-tour-of-heroes-pt5> npm version
{
  'angular.io-example': '0.0.0',
  npm: '6.14.8',
  ares: '1.16.1',
  brotli: '1.0.9',
  cldr:

[2021-04-12 00:57] udayvunnam commented on #77
Not stale

[2021-04-12 01:18] udayvunnam opened #81 "make the breadcrumb's link middle or right mouse clickable to open it in new tab"
## 🧩 Feature request

### Description

Currently, if you try to click a link with the middle mouse button, nothing happens.

![image](https://user-images.githubusercontent.com/37147299/113578545-3e68a800-9623-11eb-8ef7-1ab8d41f098e.png)

_Originally posted by @borisBelloc in https://github.com/udayvunnam/xng-breadcrumb/discussions/80_

### Describe the solution you'd like

**I'm not sure** but I t

[2021-04-24 14:40] udayvunnam commented on #77
@chmorgan can you try styling this way - https://github.com/udayvunnam/xng-breadcrumb/blob/0e15963fe928d6809ed8ca4b79f8d6a5261e5a9e/apps/breadcrumb-demo/src/styles.scss#L61

[2021-04-24 14:42] udayvunnam commented on #78
@DirkStorck see the usage at https://github.com/udayvunnam/xng-breadcrumb#quickstart.

Did you forgot to import BreadcrumbModule in the root of your App.

[code]

[2021-04-24 14:42] #78 closed

[2021-04-24 14:56] udayvunnam commented on #81
@borisBelloc I am trying to add this behavior. Do you wish this as a global behaviour or per-route behaviour

[2021-04-24 15:01] borisBelloc commented on #81
Hello,
I hope I understand your question,
I would use it as global. I always make my links clickable with the middle button (openable in new tab) but if it's not too much work, per-route behavior would allow every user of  xng-breadcrumb to choose how it works on their app (?)

[2021-04-25 06:34] #81 closed

[2021-04-25 06:42] udayvunnam commented on #81
@borisBelloc This feature is added with version `6.7.0` 🧨

- You can now click `cmd + click to open the link in the new tab by default
- If you wish to open all breadcrumb links in a new tab you can do so by https://github.com/udayvunnam/xng-breadcrumb/blob/main/docs/advanced-patterns.md#open-breadcrumb-link-in-new-tab

[2021-04-25 06:47] udayvunnam commented on #77
Here's is the documentation for customizing styles https://github.com/udayvunnam/xng-breadcrumb/blob/main/docs/advanced-patterns.md#custom-breadcrumb-styles

[2021-04-25 06:47] #77 closed

[2021-06-02 13:18] misterSerg opened #84 "Couldn't set label from component when [autoGenerate]="false""
## 🐞 Bug report

### Description

When I set a label with service for path chunk that was already autogenerated, it remains autogenerated and is filtered by [autoGenerate]="false" property.

Service BreadcrumbService creates BreadcrumbDefinition with isAutoGeneratedLabel = true;
It's still autogenerated after we set label within a component.

I think we should reset isAutoGeneratedLabel if it is s

[2021-06-03 14:35] udayvunnam commented on #84
Hi, @misterSerg thanks for reporting this bug. I will check this. You can also raise a PR with the fix if you are aware of the fix.

[2021-06-12 14:12] fgoulet opened #85 "Using Angular resolver in breadcrumb as a function"
## 🧩 Feature request

### Description

I would like to be able to construct a breadcrumb item using data retrieved with an Angular resolver.
Maybe by leveraging breadcrumb as a function ?

[code]

[2021-07-04 03:29] udayvunnam commented on #84
not stale

[2021-07-14 01:41] udayvunnam commented on #85
not stale

[2021-08-19 10:20] MiteshGohil7 opened #86 "CSS and separator not working"
## 🐞 Bug report
I was trying to use this component but it seems CSS not working for my project
### Description
I have tried to use it like below in my app.component
![image](https://user-images.githubusercontent.com/89067746/130051716-84b706f6-9cca-40bf-b0a4-6efd2ddd977b.png)

but when I run it shows like below
![image](https://user-images.githubusercontent.com/89067746/130051989-c3d758ee-d5f6-4c1

[2021-08-21 07:29] MiteshGohil7 commented on #86
okay, I found out that I have to use your custom CSS to have the same CSS and there was some routing issue that fixed the other issues.
But now in my case, I have 2 siblings' components that I want to show as a child component so, is there any way to do that and if not can I add custom breadcrumbs in the data?

[2021-08-29 20:55] Adel-El-Sherif commented on #18
I had the same issue but was not resolved by @vishnu-dev 's solution, why?!

[2021-09-15 10:12] CelestialMusa commented on #28
I am currently on release xng-breadcrumb@6.7.0 and this issue is still there.

[2021-09-19 02:38] udayvunnam commented on #84
Not stale

[2021-09-19 02:40] udayvunnam commented on #28
@CelestialMusa can you provide reproducible example with stackblitz.com

[2021-09-19 02:43] udayvunnam commented on #85
not stale

[2021-09-29 09:10] suriyaJaay opened #89 "Could someone pls create stackblitz to understand how to use breadcrumb service?"
Hi,

I'm trying to show bread crumb like below
[code]

I'm trying to bind the bread crumb value from api call via `activated.snapshot`

Bit struggling to understand `xng-breadcrumb service`. So need help

**Update**

finally understood how to use breadcrumb service, but still not able to achieve what im looking for
I've done like below

 `this.breadcrumbService.set(this.actRoute.snapshot.data.brea

[2021-10-06 14:29] udayvunnam commented on #89
@suriyaJaay can you refer to the documentation. You have multiple options to update **id** with actual **name**

https://github.com/udayvunnam/xng-breadcrumb#using-route-path-to-update-labels-dynamically
https://github.com/udayvunnam/xng-breadcrumb#using-alias-to-update-labels-dynamically

In this repo you have multiple apps that showcase the usage under `/apps`

For your use case you can refer to

[2021-10-25 09:23] BorjaLagarejo opened #90 "A way to be able to say if you want to translate the text or not."
## 🧩 Feature request

### Description

A way to be able to say if you want to translate the text or not.

For example, from a customer list screen, to data of the selected customer.

Customers > (Customer's name) > personal information

To change the name of the client I am using "alias", but I can't find a way to detect in html if this data or another data like "translate" is coming.

### Describ

[2021-11-11 08:59] anitsingh367 opened #91 "xng-breadcrumb freezes when we use "this.router.routeReuseStrategy.shouldReuseRoute = () => false;""
## 🐞 Bug report

### Description
When I add "this.router.routeReuseStrategy.shouldReuseRoute = () => false;" to the constructor of my component breadcrumbs freezes and does not change even after change in routes.

#### 🔬 Minimal Reproduction
Here is the link of stackblitz where I have reproduced the issue
https://stackblitz.com/edit/angular-xng-breadcrumbs-nesting-poc-yyepxq?file=src/app/app.compo

[2021-11-13 07:06] udayvunnam opened #92 "when xng-breadcrumb is wrapped with an ngIf (to know device resolution), its seems to get an empty route"
I am having an issue, when I wrap xng-breadcrumb inside another component(app-custom-breadcrumb) and this component is used with a ngIf sentence(to know device resolution), it seems to get an empty route

_Originally posted by @nativeforest in https://github.com/udayvunnam/xng-breadcrumb/issues/44#issuecomment-936579708_

[2021-11-14 13:15] udayvunnam commented on #91
Hi @anitsingh367 This is essentially a bug in Angular and a work around is to use https://github.com/angular/angular/issues/11812#issuecomment-248820529

I will release this bug with next minor verison

[2021-11-14 13:46] #91 closed

[2021-11-14 13:52] udayvunnam commented on #91
@anitsingh367 this issue is fixed with xng-breadcrumb@6.8.0. Please upgrade to the latest.

[2021-11-14 13:54] udayvunnam commented on #27
@ashokkumarjuly @jj-whitehead @brian-teamcoda  @AkmaralB

Due to a bug in Angular, this issue persisted. Now fixed again with **xng-breadcrumb@6.8.0**. Please upgrade to latest version of xng-breadcrumb

[2021-11-14 13:57] udayvunnam commented on #89
@suriyaJaay  you can refer to the above docs also please check the multiple demo apps under libs for usage.

Let me know if you still see any issues.

[2021-11-14 13:57] #89 closed

[2021-11-14 15:45] udayvunnam commented on #86
@MiteshGohil7 please check the styles guide for customization https://github.com/udayvunnam/xng-breadcrumb/blob/main/docs/advanced-patterns.md#custom-breadcrumb-styles

[2021-11-14 15:47] udayvunnam commented on #86
you can do that easily - please refer to demo app in https://github.com/udayvunnam/xng-breadcrumb/blob/main/apps/breadcrumb-demo/src/app/mentor/mentor-routing.module.ts

[2021-11-14 15:47] #86 closed

[2021-11-14 16:36] #92 closed

[2021-11-14 16:42] udayvunnam commented on #90
Hey @BorjaLagarejo. You've sorted almost everything. The docs provide the details already https://github.com/udayvunnam/xng-breadcrumb/blob/main/docs/advanced-patterns.md#add-icons-in-front-of-label. Perhaps I should improve the documentation(PRs welcome 👍🏼 )

Fix:

- xng-breadcrumb has a fixed name for passing additional context and that is **info** within the breadcrumb
- info has **any** type s

[2021-11-14 16:42] #90 closed

[2021-11-14 16:47] udayvunnam commented on #44
@nativeforest your issue is fixed with xng-breadcrumb@6.8.1

[2021-11-15 03:49] #84 closed

[2021-11-15 03:51] udayvunnam commented on #84
@misterSerg this issue is fixed with `xng-breadcrumb@6.8.2`

[2021-11-23 12:48] cosmin-neculau opened #103 "Angular 13: Importing BreadcrumbModule which does not have a ɵmod property"
## 🐞 Bug report

### Description

"Importing BreadcrumbModule which does not have a ɵmod property" when running unit tests (Jest).

#### 🔬 Minimal Reproduction
-> Update project to Angular 13.
-> Run tests (Jest)
#### 💻Your Environment
MacOs BigSur
Node v14.15.4
NPM 6.14.11
Jest 27.3.1
Angular 13

## 🔥 Exception or Error

<pre><code>
    Importing BreadcrumbModule which does not have a ɵmod proper

[2021-11-23 12:59] udayvunnam commented on #103
@cosmin-neculau we have an active PR to upgrade to Angular 13 https://github.com/udayvunnam/xng-breadcrumb/pull/102

This issue should be resolved soon once we merge the PR and release a new version

[2021-12-03 12:02] pandamorphism commented on #103
6.8.2 works fine with Angular 13.  The issue might be with dirty .angular/cache.  Try to clean it and recompile the project.

[2021-12-11 01:00] kyroluskamal opened #104 "Empty BreadcrumbModule"
## 🐞 Bug report

### Description
Error during import BreadcrumbModule.
I found that the BreadcrumbModule is empty
https://ibb.co/26C34rH

#### 💻Your Environment

**Angular Version:**
@angular-devkit/architect       0.1301.1
@angular-devkit/build-angular   13.1.1
@angular-devkit/core            13.1.1
@angular-devkit/schematics      13.1.1
@angular/cli                    13.1.1
@angular/flex-layout

[2021-12-11 01:59] udayvunnam commented on #104
@kyroluskamal did you install xng-breadcrumb and import the module. Please follow the quick start https://github.com/udayvunnam/xng-breadcrumb#quickstart

[2021-12-11 11:40] kyroluskamal commented on #104
I installed xng-breadcrumb and import the module as startup guide but it shows me an error after importation and when I opened the BreadcrumbModule, I found it empty.

https://user-images.githubusercontent.com/37916625/145675114-fa4a361f-1d1e-4567-b5b8-70a0086445ac.mp4

I recorded a video to show you the error after installation.

[2021-12-12 07:02] udayvunnam commented on #104
@kyroluskamal can you please provide a reproducible stack blitz. I am not able to reproduce the issue and see everyone else is able to use it.

https://udayvunnam.github.io/xng-breadcrumb

[2021-12-12 07:05] udayvunnam commented on #103
I have published the latest version of xng-breadcrumb-7.0.0 built with Angular CLI - 13. @cosmin-neculau please close this issue if your issue is resolved udayvunnam.github.io/xng-breadcrumb

[2021-12-12 07:05] #103 closed

[2021-12-12 12:34] charbel98 commented on #104
I am having the same issue here, I am using angular 12, I tried to install xng-breadcrumb 6.8.2 and 6.7.0 both are giving me an empty module just like what's happening with @kyroluskamal

[2021-12-12 13:00] udayvunnam commented on #104
I tried generating application with Nx earlier. I am able to reproduce with Angular CLI. Will push a fix soon

[2021-12-12 13:16] charbel98 commented on #104
Thank you for your fast reply !

[2021-12-13 13:31] kyroluskamal commented on #104
Thanks for your reply @udayvunnam

[2021-12-15 13:09] fgoulet opened #108 "Since 6.8.0, breadcrumb disappears on page refresh"
## 🐞 Bug report

### Description

It was working fine by injecting BreadcrumbService in the constructor of the page until I upgraded from 6.7.0 to 6.8.0

#### 🔬 Minimal Reproduction
Add a breadcrumb in the page, hit F5 to refresh the page.

#### 💻Your Environment
Windows 10

**Angular Version:**
12.1

[2021-12-15 15:00] udayvunnam commented on #104
@charbel98 @kyroluskamal this is fixed in the latest version. Please try 7.0.0

[2021-12-16 12:10] kyroluskamal commented on #104
It is working now. Thank you very much for your corporation. @udayvunnam

[2021-12-16 14:35] Vankerkom opened #109 "Breadcrumbs initial state is empty when chained in multiple router outlets"
## 🐞 Bug report

### Description

The breadcrumbs do not initialize correctly when chained into multiple router outlets. The breadcrumbs show up after navigating to another page.

#### 🔬 Minimal Reproduction

Create an application with the following structure:

- Application Shell
  - Router Outlet
- Feature Shell (Lazy loaded)
  - Router Outlet
- Detailed Feature Shell
   - Breadcrumb Component

[2021-12-18 17:30] Daniyal1123 commented on #18
Hey Guys when i Used @vishnu-dev 's Solution it shows

**Failed to compile.

./node_modules/xng-breadcrumb/fesm2015/xng-breadcrumb.mjs 322:145-162
Can't import the named export 'ActivatedRoute' from non EcmaScript module (only default export is available)**

Can someone please help i am facing issue when page refreshes breadcrumbs Disappears
i am using
"ng-dynamic-breadcrumb": "^3.0.1",

[2021-12-19 02:39] udayvunnam commented on #18
@Daniyal1123 this is `xng-breadcrumb` repository.

please check the documentation

[2021-12-19 02:40] udayvunnam commented on #18
@Adel-El-Sherif @Daniyal1123 can you please provide a reproducible example where you see this issue.

[2021-12-19 02:42] udayvunnam commented on #108
@fgoulet It worked fine with a demo app. Can you please provide a reproducible example to check the issue?

[2021-12-19 02:43] #104 closed

[2021-12-19 02:43] udayvunnam commented on #109
@Vankerkom can you please provide a reproducible example.

[2021-12-19 08:41] Daniyal1123 commented on #18
@udayvunnam  same happening in Xng

ERROR in ./node_modules/xng-breadcrumb/fesm2015/xng-breadcrumb.mjs 322:145-162
Can't import the named export 'ActivatedRoute' from non EcmaScript module (only default export is available)
ERROR in ./node_modules/xng-breadcrumb/fesm2015/xng-breadcrumb.mjs 329:58-75

[2021-12-20 16:39] fgoulet commented on #108
Hi @udayvunnam ,
I think I found why it does not work in our project. We use msal angular to handle authentication and, for some reasons, they set initialNavigation to enabledBlocking in the Router module configuration.

It was working fine until version 6.8.0. From 6.8.0 and up, if I set initialNavigation to enabledNonBlocking (the default), everything works again. But I'm not sure on the impact

[2021-12-23 09:59] suriyaJaay commented on #89
@udayvunnam

I just again doing the same implementation long back. As i said before. i followed as per the document and even copy pasted the code. but i couldn't bind the name as per the screenshot buddy

![Annotation 2021-12-23 151551](https://user-images.githubusercontent.com/19813670/147223233-40e7c277-fd97-432b-9ce5-94290a5eb22f.jpg)

you could see, i can able get firstname from response and t

[2021-12-23 12:58] udayvunnam commented on #89
@suriyaJaay I guess you haven't used `@` if you are updating the label by the alias. Please check https://udayvunnam.github.io/xng-breadcrumb/#/dynamic-breadcrumb.

If the issue still persists, can you please provide a reusable example from https://stackblitz.com/edit/angular-xng-breadcrumbs

[2021-12-29 05:41] wwwbijay opened #112 "Cannot Install on Angular version 13."
Cannot Install on Angular version 13.

[2021-12-31 08:50] udayvunnam commented on #112
@wwwbijay we have it working on Angular 13. Please check - https://stackblitz.com/edit/angular-xng-breadcrumbs

check the version compatibility guide - https://udayvunnam.github.io/xng-breadcrumb/#/angular-version-compatibility.

You may need to install `xng-breadcrumb@7.0.0`

[2021-12-31 08:53] udayvunnam opened #113 "breadcrumbs improper handling with CanDeactivate guard check"
How does one prevent navigation to the clicked link (Home) when the CanDectivate guard check fails for a route? Currently when the "Home" link is clicked, the guard prevents the navigation based on the current route form check but the breadcrumb child links disappear and shows only the "Home" link as if there is no check.

_Originally posted by @nakash2050 in https://github.com/udayvunnam/xng-brea

[2022-01-03 05:00] #113 closed

[2022-01-03 05:04] udayvunnam commented on #113
This issue is fixed in xng-breadcrumb@7.1.0

[2022-01-03 05:04] #112 closed

[2022-01-03 05:38] udayvunnam commented on #108
Thanks, @fgoulet for identifying the issue. I have made a fix to this in xng-breadcrumb@7.1.1. Do let me know if you still face this issue.

[2022-01-04 13:06] TomislavMedved opened #117 "Issue of updating labels dynamically"
I have a classic situation where i have List of items on one route/page. When i click on a single item within a list, i am redirected to details page/route of that item. There i update label dynamically to show name of the item.

My issue is that each time you navigate from item list to item details you have 0.5 sec (some amount of time before you get data from backend) preview of the recent item

[2022-01-04 15:01] udayvunnam commented on #117
Hey @TomislavMedved, this is a nice feature to have to improve the UX of the app.

This is achievable. I will work on the API to achieve such behaviour.

what would you expect in case item details service fails to provide a label on error.

[2022-01-05 03:20] udayvunnam commented on #117
@TomislavMedved you can do this with existing breadcrumb APIs

[code]

[2022-01-06 19:29] fgoulet commented on #108
Hi @udayvunnam , unfortunately, the issue is still present in 7.1.1. When I set intialNavigation to enabledBlocking, I loose the breadcrumb on page refresh.

[2022-01-11 14:25] TomislavMedved commented on #117
Yeah, but there's another issue with that approach, if you have a parent route which contains multiple children routes, and i update parent route with lets say List Name via alias and skip false, it will be shown initially on the first child route, but if i switch to another child route, list name that was updated dynamically is hidden again, it didn't remember newly skip false value but took init

[2022-01-12 12:55] VISHAL69 commented on #18
Hii @udayvunnam

i am facing an issue,
i have a nested routing with query params like "abd/pqr?usedId=2" and on next level of nesting the route becomes "abd/pqr/xyz?userId=2" so the first breadcrumb holds the route as  "abd/pqr?usedId=2"
and as i reload the page first breadcrumb that holds route becomes "abd/pqr" as it losses its query param but if i didn't refresh the page if works excellent as e

[2022-01-12 18:46] fgoulet opened #118 "Package "xng-breadcrumb" has an incompatible peer dependency to "@angular/platform-browser-dynamic""
## 🐞 Bug report

### Description

When I try to update my project from angular 13.1.0 to 13.1.1, I got this error:

 Package "xng-breadcrumb" has an incompatible peer dependency to "@angular/platform-browser-dynamic" (requires "13.1.0" (extended), would install "13.1.1")

Would it be possible to update the peer dependencies of xng-breadcrumb ?

Thanks !

**Angular Version:**

13.1.1

[2022-01-20 06:48] curiousThinker opened #120 "Dynamically add an item into breadcrumb"
Currently the breadcrumb is generated based on route.
If my modules are on the same hierachy, is it possible to display them together in the breadcrumb ?
E.g.
{
    path: "",
    loadChildren: () => import('@modules/home/home.module').then(mod => mod.HomeModule),
    data:{ breadcrumb:'home'}
},
{
    path: "family",
    loadChildren: () => import('@modules/family/family.module').then(mod => mod.F

[2022-01-25 08:32] salaiviswatech commented on #18
Hi @udayvunnam

If we are refreshing the page , the child route dynamic breadcrumb does not load at all. It works for parent routing. can you explain how it is working or share any demo related to that? In your repo, I don't see alias based breadcrumb label used in nested routes. Appreciate if you share any.

[2022-01-27 07:09] supachai24 opened #122 "'unsubscribe' of undefined"
## 🐞 Bug report

### Description
I got this error for angular ssr.

#### 💻Your Environment

**Angular Version: 8.2.3**

<pre><code>

## 🔥 Exception or Error
TypeError: Cannot read property 'unsubscribe' of undefined
    at BreadcrumbComponent.ngOnDestroy (/Users/miw03/Desktop/Angular/edt-2022/dist/server/main.js:121857:27)
    at callProviderLifecycles (/Users/miw03/Desktop/Angular/edt-2022/dist/s

[2022-01-31 13:35] marvin-belonio commented on #118
the dependency to angular should probably not be fixed to 13.1.0 but open to angular 13 so "^13.1.0"

[2022-01-31 13:45] udayvunnam commented on #118
Whatever we specify in package.json will not end up in the final library when published.

But keeping `^` so it allows patch and minor versions is good practice. I will make this change

[2022-02-01 02:49] #118 closed

[2022-02-01 03:18] udayvunnam commented on #118
@marvin-belonio and @fgoulet thanks for raising this issue, it's been fixed in `xng-breadcrumb@7.1.4`

[2022-02-01 03:45] udayvunnam commented on #122
@supachai24 I have tried SSR in the latest version of xng-breadcrumb and it works w/out any issue.

I have also added a demo app with usage in this repository for angular ssr - https://github.com/udayvunnam/xng-breadcrumb/tree/main/apps/ssr. you can run `yarn start:ssr`

If you are still facing the issue, please provide a reusable example.

[2022-02-01 03:45] #122 closed

[2022-02-01 10:21] elgurinn opened #127 "RxJS peer dependency"
## 🐞 Bug report

### Description

When installing the latest version 7.1.4. I get the following error (see below).

We are using rxjs 6.x.x and Angular supports both 6 and 7 (rxjs@"^6.5.3 || ^7.4.0" from @angular/common@13.1.3).

Is xng-breadcrumb only supporting rxjs 7.x.x if so please specify as a breaking change :) or is version 6.x.x missing from package.json ("rxjs": "^6.0.0 || ^7.0.0").

Tha

[2022-02-01 10:44] udayvunnam commented on #127
Thank @elgurinn for pointing this out. Fixed in `xng-breadcrumb@7.2.0` Let me know if you further see any issue

[2022-02-01 10:44] #127 closed

[2022-02-02 10:07] iamjustanotherrandom commented on #108
Same for me, the issue is still present in latest version

[2022-02-08 15:23] TobiasXy commented on #109
For anyone who comes across this issue with a similar problem: I spend some time trying to create a reproducible example, because this happened on a project of mine too and it was super annoying.

Here it is: https://stackblitz.com/edit/angular-xng-breadcrumbs-ch2s2r?file=src%2Fapp%2Fapp.component.ts

What (apparently) was my problem:
I have an app with several layers of nested modules and a lots

[2022-02-09 02:27] udayvunnam commented on #109
Thank you @TobiasXy for the analysis and also for providing a fix from the application side.

If you know how to fix this in the library without having to inject in App component, please provide a fix as PR.

[contribution guide](https://github.com/udayvunnam/xng-breadcrumb/blob/main/.github/contributing.md)
[local development guide](https://udayvunnam.github.io/xng-breadcrumb/#/local-development-

[2022-02-09 02:27] udayvunnam opened #129 "Breadcrumb link disappears on CanDeactivate guard check when the route has a resolver. Breadcrumb loads before the resolver promise completes."
@udayvunnam  - The feature is failing in another scenario i.e. when the route has a resolver. Breadcrumb loads before the resolver promise completes. Also, I saw you have added a new filter for GuardChecksEnd in the breadcrumb service. This is breaking the earlier guard check fix which was added. Now even if "cancel" button is clicked, the breadcrumb link disappears.

 Instead of the below - line

[2022-02-09 09:18] Naveed1842 opened #130 "Navigate to Home Page instead of Landing Module."
const routes: Routes = [
[code]
  },

I have setup the breadcrumb to home but it's navigate to landing page. I know the redirect is set to landing page. I need help how to acheive below behaviour.

User first see the application landing page once he logged in admin panel start. So I want to setup breadcrumb to admin dashboard page in our case it is home module. Please help on this.

Regards
Naveed

[2022-02-22 08:20] ihor-zinchenko opened #131 "Tests error"
hi! i've got this error on the server when i build application, could you please check tests in the package?

![image](https://user-images.githubusercontent.com/38561554/155090899-cbed0dba-5a42-41c6-a158-be680dc1f273.png)

[2022-02-24 10:57] anyplin opened #132 "TypeError"
Upgrading to version >=v7.1.1 results in error posted below during unit tests. Anyone who can help me figure out what I need to do to make the test succeed? I am using Angular v13 and the unit tests which fail all use the breadcrumbService to set the label and logo for the specific component pages.
Thank you very much.

[code]

[2022-02-24 13:38] diego-bevilaqua86 commented on #132
@anyplin I'm pretty new to this lib myself, but I think it would be easier to find the problem if you could create a reproduction scenario in a StackBlitz, so that we all have access to the environment and check the error that rises.

[2022-03-01 15:40] hugo-azevedo commented on #129
Hi, @udayvunnam ,
I too am seeing this issue.
Would it be possible to get a timeframe for this fix?
Thanks in advance for your time and attention.

[2022-03-11 06:57] suriyaJaay commented on #89
Hi @udayvunnam  i just resuming xng-breadcrump integration once again. Here am stuck at one point. so need your help

I'll try to explain as much as possible. to make it clear pls refer below screenshot
my navigation flow will be like

![image](https://user-images.githubusercontent.com/19813670/157815937-191079a8-710e-47f5-aec2-f4601ae8b57f.png)

**problem**

i cant show **Order Dashboard** breadc

[2022-03-17 11:18] udayvunnam commented on #85
not stale

[2022-03-27 03:33] udayvunnam commented on #129
https://github.com/udayvunnam/xng-breadcrumb/discussions/111#discussioncomment-2445006

[2022-03-27 04:03] udayvunnam commented on #85
@fgoulet I have solved this. We will have additional data passed to the breadcrumb label function which you can use to read the resolved data.

[code]

[2022-03-27 04:18] udayvunnam commented on #132
@anyplin could you provide an example

[2022-03-27 04:18] udayvunnam commented on #131
unrelated!

[2022-03-27 04:18] #131 closed

[2022-03-27 12:34] fgoulet commented on #85
Cool, looks like a good solution.

[2022-03-28 07:36] anyplin commented on #132
Hello, sorry I was not able to recreate an example but I managed to solve it by spying on the breadcrumbService in the affected tests.

[2022-03-28 07:36] #132 closed

[2022-04-25 16:07] braga83 commented on #18
Hi @udayvunnam,

I'm using "**ng-dynamic-breadcrumb": "^6.0.0**" and facing some issues also with refresh. All the rest is working perfectly fine, but when the user refreshes the page I'm getting "**Cannot read properties of undefined (reading 'id')**" and no breadcrumbs anymore. I've to click in some menu/route and breadcrumbs are back again. Any guess?

Here one example how I'm doing this in one

[2022-05-16 04:38] pavankjadda opened #134 "Unable to parse child routes in Angular 14"
I know Angular 14 in RC not stable. But just wanted to point out the bug/API change before Angular 14 lands. The following line does not work
https://github.com/udayvunnam/xng-breadcrumb/blob/275bd2716b5796ee419b25548ea00e2b400acc49/libs/xng-breadcrumb/src/lib/breadcrumb.service.ts#L274

And it seems `_loadedConfig` changed to `_loadedRoutes`

### Current:
<img width="601" alt="Screen Shot 2022-05

[2022-05-16 04:41] udayvunnam commented on #134
Thank you Pavan for keeping up with the Angular releases and required changes 👍 😊

I will update and release a new major version with this change.

[2022-05-16 04:44] pavankjadda commented on #134
Thanks. Perhaps you could release a RC version, if that works with v14, then promote it to stable when v14 lands next month

[2022-06-02 04:09] pavankjadda commented on #134
@udayvunnam did you get a chance to fix this? Let me know

[2022-06-03 11:15] kyroluskamal opened #135 "Errors after updating to Angular 14"
## 🐞 Bug report

### Description
I found 2 errors after just updating to angular 14. Also, I didn't use BreadcrumbService
#### 🔬 Minimal Reproduction
Update to angular 14
#### 💻Your Environment

**Angular Version:**
14
<pre><code>

Angular CLI: 14.0.0
Node: 16.14.2
Package Manager: npm 8.6.0
OS: win32 x64

Angular: 14.0.0
... animations, cdk, cli, common, compiler, compiler-cli, core
... forms, ma

[2022-06-04 05:01] udayvunnam commented on #134
@pavankjadda we are using Nx for build tooling and they are yet to release the migration path for Angular 14. https://github.com/nrwl/nx/issues/10581

This may happen this week. we can release Angular v14 compatible version by then.

[2022-06-04 05:01] udayvunnam commented on #135
@kyroluskamal we are using Nx for build tooling and they are yet to release the migration path for Angular 14. https://github.com/nrwl/nx/issues/10581

This may happen this week. we can release the Angular v14 compatible version by then.

[2022-06-08 13:40] udayvunnam commented on #135
@kyroluskamal This is fixed, please upgrade to angular latest 8.0.1 - https://udayvunnam.github.io/xng-breadcrumb/#/angular-version-compatibility

[2022-06-08 13:41] udayvunnam commented on #134
@pavankjadda This is fixed, please upgrade to angular latest 8.0.1 - https://udayvunnam.github.io/xng-breadcrumb/#/angular-version-compatibility

Let me know if you see any issues. Thanks :)

[2022-06-08 13:44] udayvunnam opened #138 "Breadcrumb link disappears on CanDeactivate guard check"
Here you go.

https://stackblitz.com/edit/angular-xng-breadcrumbs-bkzine?file=src/app/app.routing.module.ts

For some reason, I am not able to get the resolved data in Page2ChildComponent via http service. Hence I am throwing an error from the Resolver.

Steps:
1. While on Page1, click on Page 2 button -> Page 2 BC text is displayed.
2. Click on "To Page2 Child" -> Resolver throws error hence "Pag

[2022-06-08 13:52] pavankjadda commented on #134
Thanks, it works

[2022-06-15 14:14] kapenzo opened #140 "Accessibility on breadcrumb's separator"
Hi,
first of all thank you for a greate job doing this library.
We are using it in our project which is supposed to be light accessible for the people with disabilities.

For the accissibility testing we use JAWS Screen Reader which is the most common tool for that.
The Reader has a problem with the element containing both - _arial-hidden="true" and role="separator"_
Below the line with the issue:

[2022-06-15 14:22] udayvunnam commented on #140
Thanks, @kapenzo for following up on this a11y issue. Please feel free to raise a PR.

Check https://udayvunnam.github.io/xng-breadcrumb/#/local-development-guide

`yarn i && yarn start` should get you up and going

[2022-06-20 14:46] #140 closed

[2022-06-20 14:49] udayvunnam commented on #140
Thanks, @kapenzo, changes released with `xng-breadcrumb@8.0.2` :tada:

[2022-06-29 10:36] iSpid3r commented on #108
The issue is still relevant.

xng-breadcrumb: 8.0.2
angular: 14.0.3

The "initialNavigation" parameter is needed for Server-Side Rendering.

[2022-07-06 12:36] Waseem-Isaac opened #145 ""[preserveQueryParams]" is not working after page refreshed."
Iam using
`"@angular/core": "^12.1.1"`
`"xng-breadcrumb": "^7.2.0",`

`queryParams` for the other breadcrumbs are cleared on page refreshed. even if I'm using:

[code]

[2022-08-03 05:50] udayvunnam commented on #129
not stale

[2022-08-03 05:50] udayvunnam commented on #85
not stale

[2022-08-03 05:50] udayvunnam commented on #120
not stale

[2022-08-03 05:50] udayvunnam commented on #109
not stale

[2022-08-03 05:50] udayvunnam commented on #117
not stale

[2022-08-03 05:50] udayvunnam commented on #130
not stale

[2022-08-19 11:03] IlyaSurmay commented on #108
same here
xng-breadcrumb: 8.0.2
angular: 14.0.3

[2022-08-29 03:06] marcelbarner commented on #108
I added the BreadcrumbService as constructor paramter of my AppModule and it worked. So I think the problem is that the service is initialized to late.

https://stackblitz.com/edit/angular-xng-breadcrumbs-xkivgs?file=src%2Fapp%2Fapp.routing.module.ts

[2022-09-18 08:29] lashisu opened #147 "Translation Support"
## 🧩 Feature request

### Description

 Translation support needed

[2022-09-18 08:38] udayvunnam commented on #147
@lashisu we already support transalation with xng-breadcrumb. Please check https://udayvunnam.github.io/xng-breadcrumb/#/internationalization

[2022-09-18 08:38] #147 closed

[2022-09-21 22:54] aladin16 commented on #145
Hi,
Any updates on this bug?
Thank you

[2022-10-06 15:49] RFMV34 opened #148 "Unable to setup breadcrumb for certain route paths"
Hi, I have this route structure
[code]
Breadcrumb for ChannelsComponent component (route `feedbackChannels/new`) does not work, but for ChannelEditComponent works (route `feedbackChannels/new`). What is wrong here? I see only `feedbackChannels`, not my custom string `Feedback channels`.

Thanks, for help.

[2022-10-12 06:52] udayvunnam commented on #138
not stale

[2022-10-12 08:02] luizagabriela opened #149 "Breadcrumbs are not displayed for lazy loaded module"
## 🐞 Bug report

### Description

I'm trying to display the breadcrumb for a lazy loaded module but there is an error in the breadcrumb.service file on line 274 related to the **_loadedConfig**. The **_loadedConfig** property is undefined.

I'm using the changes from this [Pull request ](https://github.com/udayvunnam/xng-breadcrumb/pull/133), because I have to use the new feature of displaying the

[2022-10-18 13:37] stephencarvalho commented on #109
I'm having the same issue. Using version 6.8.3 on Angular 10. Apart from the work around fix mentioned has there been any other fix?

[2022-10-18 13:41] stephencarvalho commented on #109
@TobiasXy could you share a code example of the fix you mentioned. Because I injected the breadcrumbService into my app.component.ts but I'm still getting the same issue.

When I initially load my application I do not see the breadcrumb but if I click on another page and comeback to the homepage then I can see the breadcrumbs

[2022-10-18 14:03] stephencarvalho commented on #109
@udayvunnam Have there been any fixes for this issue?

[2022-11-21 03:18] udayvunnam opened #157 "update xng-breadcrumb demo app that uses Material UI"
## Description
xng-breadcrumb demo app uses Material UI but not updated with all changes in angular material